<app-note *ngFor="let note of this.notesS.getNotes();let i=index;trackBy:trackByNotes" [note]="note"
(editNote)="this.editingNote(note)" (removeNote)="this.removingNote(note)" appHighlight></app-note>


<!-- EDIT MODAL-->
  <div class="bg-slate-600 border border-2 border-black w-60 absolute top-0" style="display: none;" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <h1>EDITAR NOTA :</h1>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button id="closeModal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-form-note [note]="_editingNote" (onsubmit)="updateNote($event)"></app-form-note>
        </div>
        <div class="modal-footer">
          <button type="button" class="border border-amber-200 bg-cyan-100 shadow shadow-sm shadow-amber-200/20 p-1 rounded-md cursor-pointer active:transform active:translate-y-0.5 active:transition-transform" data-bs-dismiss="modal" (click)="this.close()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
